public/bitrix
public/bitrix/cache
public/bitrix/backup
public/upload
logs/
conf/*
!conf/*.example
robots.txt
commit.hash
.idea
public/sitemap*.xml
public/robots.txt
*.txt
*.log
public/local/templates/aspro_max_custom/vendor/
node_modules/
package-lock.json
*.lock
public/docs/*.xls
public/docs/*.xlsx
public/docs*.doc
public/docs/*.docx
public/docs/*.pdf
makeup/*
public/yandex_*
composer.lock
vendor/
~*sitemap-iblock-*.xml
public/order/index.html
.vscode
public/cachetest.php
public/dadatatest.php
public/logstest.php
.gitlab-ci.yml
sonar-project.properties
bx_temporary_files_do_not_remove

clockwork*
*.pem
*.key
composer.phar
*---*
.php-cs-fixer.php
.php-cs-fixer.cache

_updates_
public/zfixit.php
