.partnership .block-title {
    margin-bottom: 65px;
    font-size: 2.133em;
    font-weight: 400;

    span {
        color: #62bb46;
    }
}

@media screen and (max-width: 992px) {
    .partnership .block-title {
        font-size: 2.133em;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 850px) {
    .partnership .block-title {
        font-size: 2.121em;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 450px) {
    .partnership .block-title {
        font-size: 2.11em;
    }
}
/*---partners options---*/
.partners-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding-block: 15px 50px;
    color: #fff;
}

.partners-options__item {
    padding: 30px 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    border-radius: 60px;
    font-size: 20px;
    font-weight: 700;

    .btn {
        font-size: 14px;
    }
}

.partners-options__item .partners-options__item-btn {
    display: flex;
    justify-content: flex-end;
}

.partners-options__item:nth-child(1) {
    background-image: url('../images/partnership/partnership-1.webp');
}

.partners-options__item:nth-child(2) {
    padding-top: 70px;
    grid-row: 2 span;
    font-size: 24px;
    line-height: 1.46;
    background-image: url('../images/partnership/partnership-2.webp');

    .partners-options__item-btn {
        justify-content: flex-start;
    }
}

.partners-options__item:nth-child(3) {
    background-image: url('../images/partnership/partnership-3.webp');
}

.partners-options__item h3 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.partners-options__item .partners-options__item-list li {
    list-style-type: disc;
}

.partners-options__item .partners-options__item-list li:before {
    display: none;
}

.partners-options__item .partners-options__item-list li span {
    color: #62bb46;
}

.become-partner-btn {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    padding-top: 20px;
    font-size: 16px;

    a {
        font-size: inherit;
        padding: 22px 54px;
    }
}

@media screen and (max-width: 992px) {
    .partners-options {
        gap: 15px;
    }

    .partners-options .partners-options__item {
        font-size: 18px;
        padding: 20px 40px;
        font-weight: 500;
        border-radius: 40px;
    }

    .partners-options__item h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 850px) {
    .partners-options {
        grid-template-columns: 100%;
    }

    .partners-options__item:nth-child(2) {
        order: -1;
        grid-row: 1 span;

        .partners-options__item-btn {
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 450px) {
    .partners-options .partners-options__item {
        border-radius: 15px;
        padding: 15px;
        font-size: 16px;
    }

    .partners-options__item h3 {
        font-size: 20px;
    }
}

/*---logistics---*/
.logistics {
    color: #333;
}

.logistics__inner {
    position: relative;
}

.logistics__map {
    margin-bottom: 30px;
}

.logistics__benefits-list {
    max-width: 340px;
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
}

.logistics__benefits-item {
    display: flex;
    gap: 15px;
}

.logistics__benefits-item_mobile {
    display: none;
}

.logistics__benefits-item:has(.logistics__map-marker) {
    align-items: center;
}

.logistics__item-number {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    align-items: flex-start;
}

.logistics__map-marker {
    flex-shrink: 0;
    width: 30px;
    height: 40px;
    background-image: url('../images/partnership/partnership-marker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logistics__item-text {
    font-size: 20px;
    line-height: 1.3;

    strong {
        font-size: 24px;
    }
}

.logistics__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 71%;
    max-width: 1000px;
    max-height: 100%;
    aspect-ratio: 1.8 / 1;
    background-image: url('../images/partnership/partnership-map.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logistics__regions {
    margin-top: 60px;
}

.logistics__regions h3 {
    font-size: 28px;
    font-weight: 700;
}

.logistics__regions-wrapper {
    margin-bottom: 10px;
}

.logistics__regions-list {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
    margin: 0;

    li {
        margin: 0 0 0 35px;
        font-size: 20px;
    }
}

.logistics__show-all-btn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #62bb46;
}

@media screen and (max-width: 1070px) {
    .logistics__map {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .logistics__image {
        position: static;
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .logistics__benefits-list {
        gap: 20px;
    }

    .logistics__item-number {
        font-size: 30px;
    }

    .logistics__item-text {
        font-size: 18px;

        strong {
            font-size: 20px;
        }
    }

    .logistics__regions-list {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(7, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .logistics__map {
        flex-direction: column;
    }

    .logistics__map > * {
        width: 100%;
        max-width: 100%;
    }

    .logistics__benefits-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        row-gap: 2px;
    }

    .logistics__benefits-item_combined .logistics__benefits-item:nth-child(2) {
        display: none;
    }

    .logistics__benefits-item_mobile {
        display: flex;
        grid-column-start: 1;
    }

    .logistics__benefits-item:nth-child(3),
    .logistics__benefits-item:nth-child(4) {
        justify-content: flex-end;
        grid-column-start: 2;
    }

    .logistics__benefits-item:nth-child(3) {
        grid-row-start: 1;
    }

    .logistics__benefits-item:nth-child(4) {
        grid-row-start: 2;
    }

    .logistics__regions h3 {
        font-size: 20px;
    }

    .logistics__regions-list li {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .logistics__item-number {
        font-size: 20px;
    }

    .logistics__map-marker {
        width: 15px;
    }

    .logistics__item-text {
        font-size: 16px;

        strong {
            font-size: 16px;
        }
    }

    .logistics__benefits-item {
        gap: 6px;
    }

    .logistics__benefits-item:nth-child(4) .logistics__item-text {
        min-width: 200px;
    }

    .logistics__regions-wrapper {
        height: 55px;
        overflow: hidden;
    }

    .logistics__regions-wrapper.open {
        height: auto;
    }

    .logistics__regions-list {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(12, auto);
        row-gap: 4px;
        padding-left: 3px;
    }

    .logistics__show-all-btn {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .logistics__benefits-list {
        grid-template-columns: 100%;
    }

    .logistics__benefits-item:nth-child(3),
    .logistics__benefits-item:nth-child(4) {
        justify-content: flex-start;
        grid-column-start: 1;
    }

    .logistics__benefits-item:nth-child(3) {
        grid-row-start: auto;
    }

    .logistics__benefits-item:nth-child(4) {
        grid-row-start: auto;
    }

    .logistics__regions h3 {
        font-size: 18px;
    }

    .logistics__regions-wrapper {
        height: 40px;
    }

    .logistics__regions-list li {
        margin-left: 25px;
        font-size: 14px;
        line-height: 1.2;
    }
}

/*---why-us---*/
.why-us {
    margin-block: 60px;
}

.why-us__image img {
    width: 100%;
    max-width: 100%;
}

/*---steps-to-success---*/
.steps-to-success {
    margin-top: 60px;
}

.steps-to-success .block-title {
    margin-bottom: 32px;
}

.steps-to-success__items {
    padding-block: 50px;
    background-color: rgba(217, 217, 217, 0.11);
}

.steps-to-success__items * {
    background-color: transparent !important;
}

.steps-to-success__image img {
    width: 100%;
    max-width: 100%;
}

/*---form---*/
.section__form {
    padding-top: 60px;
}

.section__form .block-title {
    margin-bottom: 32px;
}

.section__form-description {
    font-size: 32px;
    line-height: normal;
    color: #333;
}

@media screen and (max-width: 992px) {
    .section__form-description {
        font-size: 24px;
    }
}

@media screen and (max-width: 850px) {
    .section__form-description {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .section__form-description {
        font-size: 16px;
    }
}
