.adm-submenu-item-name-link .adm-submenu-item-link-icon.e1_site_settings_menu_icon {
	background: url('/upload/CMax/d36/logo-e1-fix.png') no-repeat;
    background-size: 18px 17px;
    background-position: 8px 4px;
}