* {
	padding: 0;
	margin: 0;
}

body {
	background: url("/bitrix/panel/main/images/login-bg.jpg");
    font-size: 13pt;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
}

form {
	background-color: #dde7e9;
    border-radius: 17px;
    padding: 22px 33px 24px;
    position: relative;
    width: 400px;
}

.wrap {
	background: -webkit-linear-gradient(top, rgba(124,134,150,0.52), rgba(42,45,51,0.52));
    background: -moz-linear-gradient(top, rgba(124,134,150,0.52), rgba(42,45,51,0.52));
    background: -o-linear-gradient(top, rgba(124,134,150,0.52), rgba(42,45,51,0.52));
    background: -ms-linear-gradient(top, rgba(124,134,150,0.52), rgba(42,45,51,0.52));
    background: linear-gradient(top, rgba(124,134,150,0.52), rgba(42,45,51,0.52));
    border-radius: 27px;

	box-shadow: 0 25px 53px 9px rgba(0,0,0,.77), inset 0 -1px 0 0 #2d3238;
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;

	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.popup-title {
	color: #24272b;
    font-size: 39px;
}

.popup-title-description {
	color: #515863;
    font-size: 18px;
    text-shadow: 0 1px rgba(255,255,255, 0.5);
    padding: 3px 0 10px;
}

.popup-error {
	color: red;
    font-size: 12px;
	
}

.popup-field {
	position: relative;
}

.popup-field-title{
	color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 7px;
}

.input-wrap {
	background-color: #fff;
    border: 1px solid;
    border-color: #87909c #939ca7 #9fa8b2;
    -webkit-box-shadow: inset 0 1px 0 #cbd3d7, inset 0 2px 3px -1px rgba(159,174,182,0.6), inset 0 3px 5px -1px rgba(159,174,182,0.5), 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #cbd3d7, inset 0 2px 3px -1px rgba(159,174,182,0.6), inset 0 3px 5px -1px rgba(159,174,182,0.5), 0 1px 0 #fff;
    border-radius: 9px;
    padding: 7px;
    position: relative;
    width: 384px;
}

.input {
	color: #555;
    border: none;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-shadow: none;
    box-shadow: none;
    font-size: 22px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 41px;
    margin: 0;
    outline: none;
    padding: 0 7px;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.btn-green {
	background-image: url(/bitrix/panel/main/images/bx-admin-sprite.png), -webkit-linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15))!important;
    background-image: url(/bitrix/panel/main/images/bx-admin-sprite.png), -moz-linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15))!important;
    background-image: url(/bitrix/panel/main/images/bx-admin-sprite.png), -o-linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15))!important;
    background-image: url(/bitrix/panel/main/images/bx-admin-sprite.png), -ms-linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15))!important;
    background-image: url(/bitrix/panel/main/images/bx-admin-sprite.png), linear-gradient(top, rgba(255,255,255,0.15), rgba(0,0,0,0.15))!important;
    background-position: center -342px, 0 0;
    background-repeat: no-repeat, repeat;
    background-color: #88aa00;
    -webkit-box-shadow: 0 1px 0 #a6bf45 inset, 0 -1px 0 #657c0c inset, 0 0 0 1px rgba(138,166,25,0.7) inset;
    box-shadow: 0 1px 0 #a6bf45 inset, 0 -1px 0 #657c0c inset, 0 0 0 1px rgba(138,166,25,0.7) inset;
    border-radius: 5px;
    border: none;
    height: 37px;
    bottom: 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    outline: none;
    right: 11px;
    padding: 0;
    position: absolute;
    width: 68px;
    z-index: 1;
}

.popup-link {
	color: #1c53a2;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}

.popup-link:hover {
    text-decoration: underline;
}

.popup-forget-pas {
    margin-top: 32px;
}